<mat-icon style="cursor: pointer; color: #767e7b;float: right;margin-bottom: 1rem;"
  (click)="closeDialog()">cancel</mat-icon>

<div class="container">
  <div class="col action-wrapper">

    <!-- <button class="btn btn-warning" (click)="openunpaidsuperrior()">Unpaid Superior</button>
        <button class="btn btn-warning" (click)="opensuperior()">Superior Payouts</button> -->


        <label  class="btn btn-success" (click)="openInsurancePayments('1')">
      Upload Payment File &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </label>

    <label style="margin-left:1rem" class="btn btn-success" (click)="openInsurancePayments('2')">
      View all payments &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </label>

    <div style="padding: 16px"> </div>
      <mat-divider></mat-divider>
      <div style="padding: 16px"> </div>
 
      <label class="btn btn-success">
Convert EDI File to Excel
<input id="fileInput" type="file" (change)="handleFileInput($event)" hidden>
</label>

    <label style="margin-left:1rem" class="btn btn-success" (click)="openInsurancePayments('4')">
      Average Payments for Item
    </label>
 
  </div>


</div>


<!-- app.component.html -->

 
<!-- <input type="file" (change)="handleFileInput($event)"> -->


